body {

    color: #f7f7f7;
  }

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }


form input{
    float: right;
    margin: 0, 10px;
    border-radius: 12px;
    border: 1px solid #FF00FF 
  }

form label{
    margin: 0, 10px; 
}


  
